#root {
  max-width: 1600px;
  margin: 0 auto;
  padding: 2rem 1rem;
  text-align: left;
}

.logo {
  /*height: 6em;*/
  /*padding: 1.5em;*/
  margin-left: 10px;
  will-change: filter;
  transition: filter 300ms;
  /*font-family: 'Lobster', cursive; !* Apply special font *!*/
  /*font-family: 'Playfair Display', serif;*/
  /*font-family: 'Architects Daughter', cursive;*/
  font-family: "Matemasie", serif;
  /*font-family: "Permanent Marker", serif;*/

  font-size: 30px;
  color: white;
}
.logo:hover {
  filter: drop-shadow(0 0 1em rgba(211, 211, 228, 0.67));
}
.logo.react:hover {
  filter: drop-shadow(0 0 1em rgba(212, 220, 223, 0.67));
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}
